/* variables */
:root {
	--outer-width: 55rem;
	--inner-margin: 3rem;
	--main-color: #2288bb;
	--background-color: white;
	--p-font-color: hsl(0, 0%, 20%);
	--tr-even-color: hsl(0, 0%, 95%);
	--a-hover-color: #33aaff;
	--a-hover-visited-color: hsl(0, 0%, 50%);
	--pre-background-color: hsl(0, 0%, 97%);
	--border-radius: 5px;
	--border-color: hsl(0, 0%, 50%);

	--old-body-background-color: #F0F0F0;
	--old-html-background-color: #cccccc;
	--old-tr-even-color: #dfdfdf
}

/* CSS */
h1{
	font-size: 3rem;
	margin-bottom: 0.2rem;
	margin-top: 0.3rem;
	font-weight: normal;
	word-wrap: break-word;
}
h2{
	font-size: 2.7rem;
	font-weight: normal;
	margin-top: 2.6rem;
	margin-bottom: 0rem;
	padding-top: 0.5rem;
	padding-bottom: 0.1rem;
	/* border-bottom: 0.2rem #606060 solid; */
}
h3{
	font-size: 1.8rem;
	font-weight: normal;
	padding-top: 0.1rem;
	padding-bottom: 0rem;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
	border-bottom: 0.1rem #606060 solid;
}
h4{
	font-size:1.5rem;
	font-weight:normal;
	text-decoration: underline;
	padding-top:0.1rem;
	margin-top:1.5rem;
	margin-bottom:0rem;
}
h5{
	font-weight:normal;
	padding-top:0.1rem;
	margin-top:1.5rem;
	margin-bottom:0rem;
	font-size:1.3rem;
}
.table-warp {
	overflow-x: auto;
}
table{
	border-collapse: collapse;
	border-top: 0.1em solid;
	border-bottom: 0.1em solid;
	border-color: black;
	margin-bottom: 1rem;
}
tr:nth-child(1){
	border-bottom: 0.05em solid;
	border-color:black;
}
tr:nth-child(even){
	background-color: var(--tr-even-color);	
}
p{
	font-size:1.1rem;	
	margin-top:0.5rem;
	line-height:1.8rem;
	letter-spacing: 0.05rem;	
	word-wrap: break-word;
}
img{
	max-width:100%;
	height:auto;
}
a{
	width:auto;
	word-wrap:break-word;
	text-decoration:none;
	color: var(--main-color);
}
a:hover{
	color:var(--a-hover-color);
}
a:visited{
	color:var(--a-hover-visited-color);
}
li{
	font-size:1.1rem;
	margin-top:0.5rem;
	word-wrap: break-word;
}
ol{
	margin-top:0rem;
}
html{
	background-color: var(--background-color);
	height: auto;
}
body{
	font-family: Meiryo, "メイリオ", sans-serif;
	max-width: var(--outer-width);
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	color: var(--p-font-color);
}
pre {
	max-width: 100%;
	border-left: solid #808080 0.5rem;
	margin: 0 auto;
	margin-top: 1rem;
	margin-bottom: 2rem;
	padding-left: 1rem;
	border-radius: 5px;
	background-color: #f8f8f8;
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */

	line-height:1.5rem;
	font-family: Avenir , "Open Sans", "メイリオ", sans-serif;
}
pre p{
	margin: 0rem;
}

video{
	max-width: 100%;
	margin: 0 auto;
	display: block;
}
form{
	font-size:1.5rem;
	width:99%;
}
#toTop{
	transform: rotate(90deg);
	color: white;
	border-radius: 50%;
	font-size:2rem;
	width: 1.5em;
	height: 1.5em;
	bottom:0.5em;
	right:0.5em;
	font-weight:bold;
	text-align:center;
	position:fixed;
	background-color:var(--main-color);
}
#toTop:before {
  	content: "<";
}

#blogTitle{
	color: #2288bb;
	font-size: 3rem;
	margin-bottom:0.2rem;
}
#preArticle, #pre-article{
	display:inline-block;
	width:90%;
	text-align:center;
	background-color: #e0e0e0;
	border: 0.1em solid #808080;
	margin:auto;
	margin-top:1rem;
	margin-bottom:2rem;
}
articles{
	text-align: left;
}
article{
	border-top: 0.1em solid;
}
#articleCategory{
	margin-top: 1rem;
	font-size:0.9rem;
}
categoryName{
	margin-right:0.5rem;
}
#categories{
	line-height:2rem;
	margin-top:0rem;
	margin-bottom:2rem;
}
#categories-title{
	width:100%;
	text-align: center;
	font-weight: bold;
	background-color: var(--background-color);
	font-size: 2em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	border-top: solid 0.1em;
}
#categories ul{
	padding-left:0rem;
	border:0rem;
}
.category-ll{
	font-size:1.5rem;
	padding:0.5rem;
	margin:0em 0.1em 0.1em 0rem;
}
.category-lr{
	font-size:1.5rem;
	padding:0.5rem;
	margin:0em 0em 0.1em 0rem;
}
.topCategory{
	margin-right:1rem;
	border-bottom:solid 0.1rem;
}
#footer{
	border-top: 0.1em solid;
	clear:both;
	width:100%;
}
#new{
	padding-top:1rem;
	text-align:left;
	float:left;
	font-size:1.2rem;
}
#old{
	padding-top:1rem;
	text-align:right;
	float:right;
	font-size:1.2rem;
}

.smafont{
	-webkit-text-size-adjust: 200%;
	-moz-text-size-adjust: 200%;
	-ms-text-size-adjust: 200%;
	-o-test-size-adjust: 200%;
	text-size-adjust: 200%;
}
.citation{
	margin-top:0.5rem;
	font-size:1rem;
	line-height:1.8rem;
	margin-left:1rem;
	background-color:white;
}
.indentAll{
	margin-top:0rem;
	padding-left:1rem;
	text-indent:0rem;
}
.textDiv{
	max-width:90%;
	height:auto;
	display:inline-block;
	text-align:left;
}
.imageCenter{
	margin-bottom:2rem;
	height:auto;
	text-align:center;
}
.imageDiv{
	max-width:90%;
	height:auto;
	display:inline-block;
	text-align:center;
	background-color:white;
	padding: 0.6rem;
	border: 0.4em #e8e8e8 solid;
	border-radius: 0.3rem;
}
.innerImages{
	max-width:95%;
	height:auto;
	display:inline-block;
	text-align:center;
}
.singleImage{
	max-width:100%;
	height:auto;
	display:inline-block;
	text-align:center;
	background-color:white
}
.imageStyle{
	display:block;
}
.imageText{
	font-size:0.8rem;
	margin-top: 0.3rem;
}
.leftDiv{
	max-width:49%;
	height:auto;
	float:left;
}
.rightDiv{
	max-width:49%;
	height:auto;
	float:right;
}
.clear{
	clear:both;
}
.video{
	position:relative;
	overflow:hidden;
	height:0;
	margin-top:1rem;
	margin-bottom: 1rem;
	padding-bottom:60%;
}
.video iframe{
	position:absolute;
	width:99%;
	height:99%;
	margin:0 auto;
	top:0;
}
.ad-border-smp{
	margin-top:2rem;
}
.ad-border-pc{
	display:none;
}
.rakuten-pc{
	text-align:center;
	padding-bottom:0.5rem;
}
.ad-string{
	font-size:1.2rem;
	margin-top:0.5rem;
	width:inherit;
	text-align:center;
}
.align-right {
	text-align:right;
}
.align-left{
	text-align:left;
}
.align-center{
	text-align:center;
}
.center-table{
	text-align:center;
}
.w100{width: 100%;}

/*custom radio button
	radio の id と label の for を一致させる必要がある。
*/
.my-radio {
	display: none; 
}
.my-radio-label {
	margin: 0.1rem; 
	padding: 0 0.5em 0 0.5rem;
	border: 1px solid #9cb5c2;
	border-radius: 0.3rem;
	color: #B0B0B0;
	text-align: center;
}
.my-radio:checked + label {
	background: #2288bb;
	color: #ffffff; 
}
/*new image div*/
.image{
	text-align: center;
	margin: auto;
	border-radius: 0.3rem;
	border:0.2em #e8e8e8 solid;
	background-color: white; 
	padding: 0.6rem; 
	width: fit-content;
}
.image-text{
	font-size:0.8rem;
	margin: 0.3rem;
	text-indent: 0rem;
}
.align-left-position-center{
	margin: auto;
	width: fit-content;
}
.align-left-position-center p{
	margin-bottom: 0rem;
	margin-top: 0rem;
}
input {
	font-size: 1.5rem;
}
select {
	font-size: 1.5rem;
}
ul {
	padding-left: 1.5rem;
}
.toc-ul {
	padding-left: 2rem;
}
.toc {
	list-style: none;
}
th{
	font-weight: normal;
	text-align: center;
	padding: 0.4rem;
}
td{
	padding: 0.4rem;
}
details {
	margin-bottom: 1em;
	padding: 0.2em;
	border: var(--p-font-color) solid 0.15em;
	border-radius: var(--border-radius);
	border-color: var(--border-color);
}

/* Math Jax */
mjx-container {
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0.1rem 0.2rem;
}